// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  h1 {
    color: #226;
  }

  .entry {
    overflow: auto;
    border-bottom: 1px dotted #77d;
    margin-top: 1em;
    min-height: 100px;

    img {
      width: 90px;
      margin: 0 5px 5px 0;
      position: absolute;
    }

    h3 {
      margin: 0 0 2px 100px;
      color: #227;
    }

    p, div.price-line {
      margin: 0.5em 0 0.8em 100px;
    }

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}
